/* TailAdmin-style layout with fixed header and tabs - f-flow gets remaining space */
body.resizing-panel {
  cursor: col-resize;
  user-select: none;
}

.project-edit-layout {
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 0;
  width: 100%;
  min-height: calc(100vh - 8rem);
  background-color: rgb(249 250 251);
}

.project-edit-header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
  gap: 1rem;
  padding: 1rem 0;
}

.project-edit-tabs {
  min-height: 3rem;
  box-sizing: border-box;
}

.project-edit-content {
  min-height: 0;
  overflow: hidden;
  display: block;
  height: 100%;
  border: 1px solid rgb(229 231 235);
  border-top: none;
  border-radius: 0 0 1rem 1rem;
  background: white;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.05);
}

.project-edit-flow-area {
  display: grid;
  grid-template-columns: auto 1fr auto;
  height: 100%;
  min-height: 400px;
  overflow: hidden;
}

.project-edit-flow-wrapper {
  height: 100%;
  min-height: 0;
  overflow: hidden;
}

.project-edit-flow-wrapper f-flow {
  display: block;
  width: 100%;
  height: 100%;
}
